
body {
    background-color: #000001;
opacity: 1;
background-image:  linear-gradient(30deg, #377489 12%, transparent 12.5%, transparent 87%, #377489 87.5%, #377489), linear-gradient(150deg, #377489 12%, transparent 12.5%, transparent 87%, #377489 87.5%, #377489), linear-gradient(30deg, #377489 12%, transparent 12.5%, transparent 87%, #377489 87.5%, #377489), linear-gradient(150deg, #377489 12%, transparent 12.5%, transparent 87%, #377489 87.5%, #377489), linear-gradient(60deg, #37748977 25%, transparent 25.5%, transparent 75%, #37748977 75%, #37748977), linear-gradient(60deg, #37748977 25%, transparent 25.5%, transparent 75%, #37748977 75%, #37748977);
background-size: 80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    flex-direction: column; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(145, 165, 180);
    color: #333333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
}

input[type="text"],
input[type="tel"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.copy {
    text-align: center;
    color: rgb(9, 14, 40);
    position: relative;
    bottom: 0;
    margin-top: 100px;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 600px) {
    .container {
        padding: 15px 20px;
        max-width: 90%;
        width: 75%;
    }

    h1 {
        font-size: 18px; /* Smaller font for the title */
    }

    button {
        font-size: 14px; /* Smaller button text */
        padding: 8px; /* Less padding for button */
    }

    input[type="text"],
    input[type="tel"],
    input[type="file"],
    select {
        padding: 8px; /* Smaller input padding */
        font-size: 14px; /* Smaller font size for inputs */
    }
    footer {        
       max-width: 70%;
    }
}
